<tbody>
<tr>
    <td style="padding:40px 0  0 0;">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">
<img src="https://preview.ibb.co/hZnUX8/mycompose_logo.png" width="250"/>
        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">You're Almost There! Just Confirm Your Email</h2>
        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">As requested, please click below to allow you to select a new MyCompose password:

            <br>
            <br>
            <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $this->config->web->host ; ?>/resetPassword?code=<?php echo $sToken ; ?>">Confirm</a>
            <br/>
            <br/>
            This link will expire in 24 hours.<br/>
            If you need further assistance, please contact us.
            <br>
            <br>

            MyCompose!. Enjoy!
            <br>
        </p>
    </td>
</tr>
</tbody>