<tbody>
<tr>
    <td style="padding:40px 0  0 0;">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">
<img src="https://preview.ibb.co/hZnUX8/mycompose_logo.png" width="250"/>

        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Mr/Ms <?php echo $sSenderFullName ; ?> sent to you invitation,</h2>
        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;"> To show this document, you can click bellow and go to MyCompose to read it :

            <br>
            <br>
            <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $this->config->web->host ; ?>/showregister">Register on MyCompose</a>
            <br/>
            <br/>
            <?php if(isset($nDocumentID)){ ?>
                <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $this->config->web->host ; ?>/document/print/<?php echo $nDocumentID ; ?>">Show the Document</a>
            <br/>
            <br/>
            <?php } ?>
            <?php
            if(isset($sCustomMessage)){
            echo "<b><br>And ";
            echo $sSenderFullName . " said : <br\/>";
            echo $sCustomMessage ;}
            ?>
            <br/><br/>
            MyCompose!. Enjoy!
            <br>
        </p>
    </td>
</tr>
</tbody>