<tbody>
<tr>
    <td style="padding:40px 0  0 0;">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">
<img src="https://preview.ibb.co/hZnUX8/mycompose_logo.png" width="250"/>

        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Someone sent to you invitation,</h2>
        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;"> To show this document, you can click bellow and go to MyCompose to read it :

            <br>
            <br>
            <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $this->config->web->host ; ?>/register">MyCompose</a>
            <br/>
           <br/>
            MyCompose!. Enjoy!
            <br>
        </p>
    </td>
</tr>
</tbody>