<table style="width:80%">
<tbody>
<tr>
    <td style="padding:40px 0  0 0;">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">
<img src="https://preview.ibb.co/hZnUX8/mycompose_logo.png" width="250"/>

        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Wow!</h2>
        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">One step left to start accessing MyCompose.</h2>
        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;"> To verify your Email Address, please click below:

            <br>
            <br>
            <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $this->config->web->host ; ?>/verifyRegister?code=<?php echo $sToken ; ?>">Confirm</a>
            <br/>
            <br/>
            <small>You can copy the token below and paste on the verify code</small>
            <br/>
            <code style="border:1px solid #ccc;padding:5px 10px;"><?php echo $sToken ; ?></code>
            <br/>
            If you need further assistance, please contact us.
            <br>
            <br>

            MyCompose!. Enjoy!
            <br>
        </p>
    </td>
</tr>
</tbody>
</table>