<tbody>
<tr>
    <td style="padding:40px 0  0 0;">
        <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">
            <img src="https://preview.ibb.co/hZnUX8/mycompose_logo.png" width="250"/>
        <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Someone request you to sign a document</h2>
        <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Please click below to allow you to sign the document:

            <br>
            <br>
            <a style="background:#E86537;color:#fff;padding:10px" href="<?php echo $this->config->web->host ; ?>/document/<?php echo $nDocumentID ; ?>">Click to open the document</a>
            <br/>
            <br/>
            If you need further assistance, please contact us.
            <br>
            <br>
            MyCompose!. Enjoy!
            <br>
        </p>
    </td>
</tr>
</tbody>