<?php
$to = [] ;
$cc = [] ;
$signer = [];
foreach($aDocument['recipients'] as $recipient ) {
    if($recipient['type'] == 'To'){
        $to[] = $recipient;
    }elseif($recipient['type'] == 'Signer'){
        $signer[] = $recipient;
    }elseif($recipient['type'] == 'CC'){
        $cc[] = $recipient ;
    }
}
?>


<style>
    /*.header_and_footer {*/
        /*cursor: pointer;*/
    /*}*/

    .header_page {
        min-height: 0.5in;
        /*border-bottom: 1px solid #ccc;*/
    }

    .footer_page {
        position: absolute;
        bottom: 0px;
        min-height: 90px;
        border-top: 1px solid #ccc;
        z-index: 1;
        width: 90%;
    }

    .content_page {
        font-size: 16px;
        font-family: Arial;
    }

    .subject_page {
        font-size: 18px;

    }

    .action_container {
        box-shadow: 0 0 1px #ccc;
        height: 600px;
        padding: 5px 10px;
    }

    .subject_document_editor {

        display: inline-block;
        width: 649px;
        margin: 5px 0;
    }

    .to_document_editor {

        width: 400px;
        margin: 5px auto;
        text-align: center;
        font-size: 18px;
    }

    .cc_document_editor {
        margin: 5px 0;
        text-align: right;
        font-size: 18px;
    }

    .signer_document_editor {
        width: 100%;
        min-height: 100px;
        margin: 5px 0;
        text-align: left;
        font-size: 18px;
    }

    .editable {

        margin: 5px 0;
        min-height: 300px;

    }

    .sign_item {
        /*width:200px;*/
        display: inline-block;
        height: 80px;
        text-align: center;
        vertical-align: top;
        height: 100%;
        margin: 10 auto;

    }

    .editor .edit_dotted {
        border: 1px dotted dodgerblue;
        min-height: 35px;
    }

    .cc_document_editor {
        font-size: 12px;

    }

    .sidebar-default {
        border: none;
    }

    div.mce-tinymce-inline {
        width: 715.24px !important;
    }

    .mce-content-body {
        max-heigh: 450px;
    }

    .img-thumbnail {
        max-height: 90px;
    }

    .left_side {
        text-align: left;
        direction: ltr;
    }

    .left_side * {
        direction: ltr;
        text-align: left;
    }

    .right_side {
        text-align: right;
        direction: rtl;
    }

    .document_date {
        width: 430px;

    }

    .document_number {
        width: 420px;
        vertical-align: middle;

    }

    .document_number * {
        vertical-align: middle;
    }

    .to_page {
        text-align: center;
        vertical-align: middle;
    }

    .to_title {
        vertical-align: middle;
    }

    .to_document_editor {
        vertical-align: middle;
    }

    #document_number_text {
        display: inline-block;
        overflow: hidden;
        width: 280px;
        vertical-align: middle;
    }

    #document_date_text {
        display: inline-block;
        overflow: hidden;
        width: 280px;
        vertical-align: middle;
    }

    .page-container {
        width: 99%;
    }

    .header_top {
        position: absolute;
        top: 5px;
        left: 5px;
        text-align: center;
        color: #ccc;
    }

    .barcode {
        text-align: center;
    }

    .layout_box {
        padding: 10px 20px;
        border: 1px #ccc solid;
        margin: 10px 20px;
        box-shadow: 1px 1px 3px #ccc;
        direction: rtl;
        cursor: pointer;
    }

    .padd_20 {
        padding: 0 20px;
        position: relative
    }
</style>
<div class="" style="position: absolute;bottom:10px;left:10px">
    <?php if (isset($aDocument['qr_code']['data']) && !empty($aDocument['qr_code']['data'])) { ?><img
        src="<?php echo $aDocument['qr_code']['data']; ?>" /><?php } ?>
</div>

<div class="padd_20">
    <div class="left_side">
        <div class="document_date hide">
            <span style="display: inline-block;float:left">Date :</span>
            <span class="document_date_text">
                <?php if (!empty($aDocument['document_date'])){ ?>
                    <?php echo $aDocument['document_date']; ?>
                <?php } ?>
            </span>
        </div>
        <div class="document_number hide">
            <span style="display: inline-block;float:left">Document Reference :</span>
            <span class="document_number_text">
                <?php if (!empty($aDocument['outbox_number'])){ ?>
                    <?php echo $aDocument['outbox_number']; ?>
                <?php } ?>
            </span>
        </div>
    </div>
    <div class="to_page">

        <div class="to_document_editor" id="to_document_editor" style="display:float:right !important;">
            <?php if(isset($aDocument)){ ?>

                <?php foreach ($to as $user) { ?>
                    <div><?php echo $user['display_name']; ?></div>
                <?php } ?>

            <?php } ?>
        </div>
    </div>

<div class="subject_page" contenteditable="true"></div>
    <div class="editable content_page" id="page_0"
         contenteditable="true" style=";max-height: 600px;min-height: 200px">
        <?php echo isset($aDocument) ? $aDocument['content'] : '' ; ?>
    </div>

</div>

<div style="margin-top:20px;width:100%;text-align: center;">


    <div class="cc_page" style="width:28%;display:inline-block;direction:ltr;padding: 10px;">
        <span style="color: #808080"> CC :</span>
        <div class="cc_document_editor" id="cc_document_editor" >
            <?php if(isset($aDocument)){ ?>

                <?php foreach ($cc as $user) { ?>
                    <div><?php echo $user['display_name']; ?></div>
                <?php } ?>

            <?php } ?>
        </div>
    </div>


    <div class="stamp" style="width:28%;display:inline-block;direction:ltr;padding: 10px;margin-right: 10px;">

    </div>
    <div class="your_sign" style="width:28%;display:inline-block;direction:rtl;padding: 10px;margin-right: 10px">

        <div class="signs_page">
            <div class="signer_document_editor" id="signer_document_editor">
                <?php if(isset($aDocument)){ ?>

                    <?php foreach ($signer as $user) { ?>
                        <div><?php echo $user['display_name']; ?></div>
                        <?php if ($user['is_sign'] == '1') {
                            echo "<img src='" . $user['sign']['sign_image'] . "' width=150 />";
                        } ?>
                    <?php } ?>

                <?php } ?>


            </div>
        </div>
    </div>
</div>
