<div class="a4_header" style="height:150px;background: #F2F2F2;text-align: center;padding: 10px;margin-bottom: 0" >
    <img src="<?php echo $this->config->CDN_URL ; ?>/assets/images/your-logo-here.png" width="90" style="display: inline-block;vertical-align:middle" />
    <h2 style="direction:rtl;display: block;font-size: 18px">My Compose Layout 2</h2>
</div>




